<!-- Logo -->

<div class="row">
	<div class="logo">TOGGLE</div>
</div>

<!-- Br -->

<div class="row">
	<div class="br"></div>
</div>

<!-- User Info -->

<div class="row">

	<!-- Info -->

	<div class="col-sm-8 info">
		
		<div class="dropdown drop">
			<a href="#" class="dropdown-toggle inf-name" data-toggle="dropdown" role="button">
				<%= "#{@current_user.first_name}" %>
			</a>
			<ul class="dropdown-menu">
	    		<li><%= link_to "Ваш профиль", vk_url(@current_user), target: '_blank' %></li>
	    		<li><%= link_to "Выход", signout_path, method: :delete %></li>
	    	</ul>
	    </div>

	    <div class="inf">
			Фото: <%= @photos.first.first %>
	    </div>

		<div class="dropdown drop">
     		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
			Друзья: <%= @current_user.counters.friends %> 
     		</a>
        		<ul class="dropdown-menu">
     				<%= render 'shared/friends_form' %>
				</ul>
    	</div>

	</div>
		
	<!-- Photo -->

	<div class="col-sm-4 avt-pd">
		<%= link_to image_tag(@current_user.photo, class: 'avt img-circle'), '#' %>
	</div>

</div>