<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:500|Roboto:300&subset=cyrillic">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?139"></script>
    <script type="text/javascript">VK.init({apild: 5873543});</script>
  </head>
  <body>
    <div class="container">
      
      <!-- Alert -->

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      
      <% if log_in? %> 

      <div class="row">

        <!-- Navbar -->

        <div class="col-sm-1"><%= render 'layouts/navbar' %></div>

        <!-- Content -->

        <div class="col-sm-8"><%= yield %></div>

        <!-- Info -->

        <div class="col-sm-3 info-align"><%= render 'layouts/info' %></div>

      </div>

      <!-- Footer -->

      <%= render 'layouts/footer' %>

      <% else %>

        <div class="row">
          <div class="col-sm-8">
            <%= yield %>
          </div>
        </div>

      <% end %>

    </div>

	<%= debug(params) if Rails.env.development? %>
  
  </body>
</html>
